{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-light">Acerca de Nosotros</h1>
    <p class="text-light">Bienvenido a nuestro portal de arriendos de propiedades. Somos una plataforma dedicada a conectar arrendadores y arrendatarios, facilitando el proceso de arrendar propiedades de forma segura y eficiente.</p>
    <p class="text-light">Nuestro objetivo es ofrecer un servicio de calidad, garantizando transparencia y confianza entre todas las partes involucradas.</p>
</div>
{% endblock %}
